# Requirements for running the project with Vagrant

# Vagrant version
vagrant==2.2.18

# VirtualBox version
virtualbox==6.1

# Docker version
docker==20.10.7

# Docker Compose version
docker-compose==1.29.2

# System dependencies (Ubuntu/Debian)
# Note: These dependencies are needed for Docker installation and configuration.
# Please make sure you have sudo privileges to install packages.
apt-utils
ca-certificates
curl

# Instructions:
# 1. Install Vagrant (https://www.vagrantup.com/downloads.html)
# 2. Install VirtualBox (https://www.virtualbox.org/wiki/Downloads)
# 3. Install Docker (https://docs.docker.com/get-docker/)
# 4. Install Docker Compose (https://docs.docker.com/compose/install/)
# 5. Ensure you have sudo privileges to install packages.

